/* CSS Reset */
*,::after,::before{box-sizing:border-box}*{margin:0}@media (prefers-reduced-motion:no-preference){html{interpolate-size:allow-keywords}}body{-webkit-font-smoothing:antialiased}canvas,img,picture,svg,video{display:block;max-width:100%}button,input,select,textarea{font:inherit}h1,h2,h3,h4,h5,h6,p{overflow-wrap:break-word}p{text-wrap:pretty}h1,h2,h3,h4,h5,h6{text-wrap:balance}#__next,#root{isolation:isolate}

/* Variables */
:root {
    /* Colors */
    --neutral-0: #fefefe;
    --neutral-20: #cfd0d2;
    --neutral-40: #a0a0a5;
    --neutral-60: #717078;
    --neutral-80: #42404b;
    --neutral-100: #13101e;
    --primary-20: #FFDEDC;
    --primary-40: #FF9A8E;
    --primary-60: #FF5640;
    --primary-80: #E5250C;
    --secondary-20: #cffccf;
    --secondary-40: #a1c9a1;
    --secondary-60: #729772;
    --secondary-80: #436543;
    --accent-20: #dad0f0;
    --accent-40: #b7a3e2;
    --accent-60: #9476d4;
    --accent-80: #7149c6;
    --accent-100: #422d72;
    /* Fonts */
    --heading: "Winky Sans", sans-serif;
    --paragraph: "Nunito", sans-serif;
    --h1-mobile: 2.5rem;
    --h1-desktop: 2.75rem;
    --h2-mobile: 2.25rem;
    --h2-desktop: 2.5rem;
    --h3-mobile: 2rem;
    --h3-desktop: 2.25rem;
    --lg-text-mobile: 1.25rem;
    --lg-text-desktop: 1.5rem;
    --md-text-mobile: 1rem;
    --md-text-desktop: 1.25rem;
    --sm-text-mobile: .75rem;
    --sm-text-desktop: 1rem;
}

/* Layout */
*:focus-visible {
    outline: 2px solid var(--neutral-100);
    outline-offset: .25rem;
    border-radius: .25rem;
}

footer *:focus-visible {
    outline: 2px solid var(--neutral-0);
    outline-offset: .25rem;
    border-radius: .25rem;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: linear-gradient(0deg, var(--secondary-80) 0%, var(--secondary-40) 100%);
    background-attachment: local;
    color: var(--neutral-100);
    font-family: var(--paragraph);
    min-height: 100vh;
    max-width: 100vw;
    transition: filter 0.3s ease;
    @media only screen and (min-width: 768px) {
        background: linear-gradient(90deg, var(--secondary-40) 0%, var(--secondary-60) 40%, var(--secondary-60) 40%, var(--secondary-40) 100%);
    }
}

.wrapper {
    background: url("../assets/bg2.svg") repeat;
    background-size: 9rem;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: 768px) {
        background-size: 10rem;
    }
}

header {
    position: sticky;
    top: -1px;
    left: -1px;
    right: -1px;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "logo menu";
    padding: 1rem;
    background-color: var(--secondary-20);
    clip-path: polygon(0 0,
            100% 0,
            100% 100%,
            /* rechte untere Ecke */
            0 90%
            /* linke untere Ecke */
        );
    border-bottom: .75rem solid var(--accent-80);
    transform-origin: top center;
    will-change: height;
    @media only screen and (min-width: 768px) {
        padding: 1rem calc(50vw - 40ch);
    }
}

.menu {
    justify-self: center;
    align-self: center;
    grid-area: menu;
    @media only screen and (min-width: 768px) {
        align-self: flex-end;
    }
}

#menuIconWrapper {
    display: flex;
    aspect-ratio: 1 / 1;
    border-radius: 100px;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 0px 0px transparent;
    transition: ease-out .25s;
    visibility: visible;
    @media only screen and (min-width: 768px) {
        display: none;
        visibility: hidden;
    }
}

#desktopMenu {
    display: none;
    visibility: hidden;
    @media only screen and (min-width: 768px) {
        display: block;
        visibility: visible;
        & ul {
            list-style: none;
            display: flex;
            gap: 1rem;
            & li {
                display: inline-block;
                margin: 0;
                & a {
                    color: var(--accent-100);
                    text-decoration: none;
                    font-size: var(--lg-text-desktop);
                    font-weight: 800;
                    text-decoration-color: var(--primary-60);
                    &:hover {
                        color: var(--accent-80);
                        text-decoration: underline;
                        text-decoration-color: var(--primary-60);
                        text-underline-offset: .333rem;
                        text-decoration-thickness: 3px;
                        transition: ease .3s;
                    }
                    &:active,&:focus {
                        color: var(--primary-80);
                    }
                    &:focus-visible {
                        color: var(--neutral-100);
                    }
                }
            }
        }
    }
}

#menuIconWrapper.activeMenu {
    background-color: var(--primary-60);
    box-shadow: 0px 0px 0px 24px var(--primary-60);
}

#navMenuBtn {
    cursor: pointer;
    transition: ease-out .25s;
}

.logo {
    justify-self: start;
    align-self: center;
    grid-area: logo;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: 0;
    grid-auto-flow: row;
    grid-template-areas: "main" "footer";
    flex: 1;
    @media only screen and (min-width: 768px) {
        justify-items: center;
    }
}

main {
    min-height: 100%;
    grid-area: main;
    padding: 1rem .5rem;
    @media only screen and (min-width: 768px) {
        width: 80ch;
        padding: .5rem 0;
    }
}

main address ul li {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    gap: 1em 1em;
    grid-auto-flow: row;
    align-content: start;
    align-items: center;
}

footer {
    grid-area: footer;
    background-color: var(--neutral-100);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
    border-top: .5rem solid var(--accent-80);
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100vw;
}

/* Typography */
h1,
h2,
h3 {
    font-family: var(--heading);
    color: var(--secondary-80);
    font-weight: 800;
    margin-bottom: 1rem;
    scroll-margin-top: 8rem;
    @media only screen and (min-width: 768px) {
        scroll-margin-top: 8.25rem;
    }
}

h1 {
    font-size: var(--h1-mobile);
    line-height: 1.1;
    text-shadow: 0px 1px 0px var(--accent-20);
    @media only screen and (min-width: 768px) {
        font-size: var(--h1-desktop)
    }
}

h2 {
    font-size: var(--h2-mobile);
    line-height: 1.2;
    text-shadow: 0px 1px 0px var(--accent-20);
    @media only screen and (min-width: 768px) {
        font-size: var(--h2-desktop)
    }
}

h3 {
    font-size: var(--h3-mobile);
    line-height: 1.3;
    color: var(--primary-60);
    text-shadow: 0px 1px 0px var(--accent-80);
    margin-top: 1rem;
    @media only screen and (min-width: 768px) {
        font-size: var(--h3-desktop);
        margin-top: 2rem;
    }
}

.subline {
    color: var(--secondary-80);
    font-size: var(--lg-text-mobile);
/*     @media only screen and (min-width: 768px) {
        font-size: var(--lg-text-desktop)
    } */
}

.listHeadline {
    color: var(--primary-60);
    font-size: var(--lg-text-mobile);
    @media only screen and (min-width: 768px) {
        font-size: var(--lg-text-desktop);
    }
}

strong {
    font-weight: 900;
}

p,
ul,
li,
a {
    font-size: var(--md-text-mobile);
    line-height: 1.5;
    font-weight: 600;
    @media only screen and (min-width: 768px) {
        font-size: var(--md-text-desktop);
    }
}

p,
li {
    margin-bottom: .75rem;
    max-width: 80ch;
    hyphens: auto;
    &:has(.listHeadline) {
        margin-top: 2rem;
    }
}

/* UI */
#Logo {
    display: block;
    margin: 0 auto;
    height: 4.44rem;
    transform-origin: center center;
    backface-visibility: hidden;
    transition: height 0.25s ease-out;
    will-change: height, transform;
}

main section {
    background-color: var(--neutral-0);
    padding: 1rem;
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;
    display: inline-block;
    border-bottom: 2px solid var(--secondary-60);
    &:last-child {
        margin-bottom: 0;
    }
    @media only screen and (min-width: 768px) {
        margin-bottom: 1rem;
    }
}

.icon-md {
    font-size: 1rem;
}

.icon-lg {
    font-size: 1.95rem;
}

.icon-xl {
    font-size: 2.44rem;
}

main a {
    color: var(--accent-80);
    text-decoration: underline;
    text-underline-offset: 25%;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--accent-20);
    transition: .2s;

    &:hover,
    &:focus-visible,
    &:focus,
    &:active {
        text-decoration-color: var(--accent-80);
        text-decoration-thickness: 2px;
    }
}

section img {
    float: right;
    max-width: 50%;
    aspect-ratio: 1/1;
    height: 100%;
    border-radius: 1rem;
    margin: 0 0 .5rem .5rem;
    object-fit: cover;
    @media only screen and (min-width: 768px) {
        max-width: 33.333%;
        margin: 0 0 0 1rem;
    }
}

section ul {
    margin: 1rem 0;
    padding: 0;
    list-style: none;
    @media only screen and (min-width: 768px) {
        margin: 2rem .5rem 2rem 1rem;
    }
}

section[aria-labelledby="leistungen"] ul li {
    display: grid;
    grid-template-columns: var(--md-text-mobile) 1fr;
    gap: var(--md-text-mobile);
    &:not(:last-child) {
        border-bottom: 1px dashed var(--secondary-40);
    }
    @media only screen and (min-width: 768px) {
        grid-template-columns: var(--md-text-desktop) 1fr;
        gap: var(--md-text-desktop);
        margin: 0;
        padding: 1rem 0;
        & p{
            margin: 0;
        }
    }
    &::before {
        content: "";
        grid-column: 1;
        width: var(--md-text-mobile);
        height: var(--md-text-mobile);
        padding-top: 1.5rem;
        background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGlkPSJhIiB2aWV3Qm94PSIwIDAgNTQ2IDMxMCI+DQogIDxkZWZzPg0KICAgIDxzdHlsZT4NCiAgICAgIC5ie2ZpbGw6IzcxNDljNn0NCiAgICA8L3N0eWxlPg0KICA8L2RlZnM+DQogIDxwYXRoIGQ9Ik00MDUgMTQ5YzAtNi0xNjgtNTEtMzA1IDE2IDI0LTI5MyAzNjAtMTQ1IDQ0NCA1MCAzIDggMyAxNy0yIDIzcy0xNSAxMC0yNCA3Yy0xMTktMzctMTI2IDM0LTIyMCA1OS05MyAyOC0xNzctNDgtMTk2LTExNSAxNjYtNzkgMzAyLTM0IDMwMy00MFoiIGNsYXNzPSJiIi8+DQogIDxwYXRoIGQ9Ik0yIDIxOWMyLTEgMTItMjEgOTgtNTRsMiAyNGMtNDQgMTctNzAgMzAtODEgNDQtOSAxMi0yNy0xLTE5LTE0WiIgY2xhc3M9ImIiLz4NCjwvc3ZnPg==") no-repeat center / contain;
        @media only screen and (min-width: 768px) {
            width: var(--md-text-desktop);
            height: var(--md-text-desktop);
            padding-top: 1.75rem;
        }
    }
}

/* section[aria-labelledby="leistungen"] ul li {
    padding-left: 0.25rem;
    &:not(:last-child) {
        border-bottom: 1px dashed var(--secondary-60);
        padding-bottom: .5rem;
    }
    &::before {
        content: "";
        width: 1em;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: .5rem;
        padding-top: 0.75rem;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGlkPSJhIiB2aWV3Qm94PSIwIDAgNTQ2IDMxMCI+DQogIDxkZWZzPg0KICAgIDxzdHlsZT4NCiAgICAgIC5ie2ZpbGw6IzcxNDljNn0NCiAgICA8L3N0eWxlPg0KICA8L2RlZnM+DQogIDxwYXRoIGQ9Ik00MDUgMTQ5YzAtNi0xNjgtNTEtMzA1IDE2IDI0LTI5MyAzNjAtMTQ1IDQ0NCA1MCAzIDggMyAxNy0yIDIzcy0xNSAxMC0yNCA3Yy0xMTktMzctMTI2IDM0LTIyMCA1OS05MyAyOC0xNzctNDgtMTk2LTExNSAxNjYtNzkgMzAyLTM0IDMwMy00MFoiIGNsYXNzPSJiIi8+DQogIDxwYXRoIGQ9Ik0yIDIxOWMyLTEgMTItMjEgOTgtNTRsMiAyNGMtNDQgMTctNzAgMzAtODEgNDQtOSAxMi0yNy0xLTE5LTE0WiIgY2xhc3M9ImIiLz4NCjwvc3ZnPg==");
    }
} */

footer a {
    color: var(--accent-20);
    text-decoration: underline;
    text-underline-offset: 25%;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--accent-60);
    transition: .2s;

    &:hover,
    &:focus-visible,
    &:focus,
    &:active {
        color: var(--neutral-0);
        text-decoration-color: var(--accent-80);
        text-decoration-thickness: 2px;
    }
}


/* MOBILE menu */

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(19, 16, 30, 0.25);
    backdrop-filter: blur(2px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 5;
}

#overlay.show {
    opacity: 1;
    pointer-events: auto;
}

/* Bottom Sheet */
#mobileMenu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background: var(--neutral-0);
    box-shadow: 0 -2px 10px rgba(19, 16, 30, 0.25);
    transition: bottom 0.3s ease;
    padding: 1rem;
    z-index: 10;
    border-radius: 1rem 1rem 0 0;
}

#mobileMenu.show {
    bottom: 0;
}

#mobileMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#mobileMenu li {
    padding: 1rem 0;
    border-bottom: 1px solid #eee;
}

#mobileMenu a {
    text-decoration: none;
    color: var(--neutral-100);
    font-size: 1.5rem;
    font-weight: bolder;
    display: inline-block;
    width: 100%;

    &:active,
    &:hover,
    &:focus {
        color: var(--primary-80);
    }
}